body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
   padding: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 100px 16px;
    justify-content: center;
    gap: 30px;
}
 
.hero-left {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    gap: 16px;
    justify-content: flex-start;
}

.hero-heading {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    display: flex;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-shrink: 50px;
}

.hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    align-self: flex-start;
    border-radius: 8px;
    padding: 8px 16px;
    border: none
    
}

.hero-image {
    color: #f9faf8;
    background-color: gray;
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}